@charset "utf-8";
/* 清除内外边距 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
lengend,
button,
input,
textarea,
th,
td,
main,
canvas {
  /* table elements 表格元素 */
  margin: 0;
  padding: 0;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
/* 将斜体扶正 */
/* 重置列表元素 */
ul,
ol {
  list-style: none;
}
/* 重置文本格式元素 */
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:hover {
  text-decoration: underline;
}
abbr[title],
acronym[title] {
  /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
  border-bottom: 1px dotted;
  cursor: help;
}
/* 重置表单元素 */
legend {
  color: #000;
}
/* for ie6 */
fieldset,
img {
  border: none;
}
/* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 使得表单元素在 ie 下能继承字体大小 */
}
body,
button,
input {
  font-family: "微软雅黑", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 重置 hr */
hr {
  border: none;
  height: 1px;
}
.clear {
  clear: both;
}
.clear::after {
  content: '';
  clear: both;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
html{
  overflow: hidden;
}
body {
  font-size: 20px;
  -webkit-touch-callout: none;  
  -webkit-user-select: none;  
  -khtml-user-select: none;  
  -moz-user-select: none;  
  -ms-user-select: none;  
  user-select: none;
}
#content-wrap{
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  overflow: hidden;
}
.content{
  position: absolute;
  right: 50%;
  top: 50%;
  width: 769px;
  background: rgba(0,0,0,.5);
  -webkit-transform: translate(50%,-50%);
  transform: translate(50%,-50%);
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  z-index: 999;
  border-radius: 16px;
  text-shadow: black 0.1em 0.1em 0.2em;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
}
.content-scale{
  /* left: auto; */
  right: 50px;
  top: 50px;
  -webkit-transform: scale(.1,.1);
  transform: scale(.1,.1);
  -webkit-transform-origin: top right;
  transform-origin: top right;
  background: #FFF;
  text-shadow: #FFF 0.1em 0.1em 0.2em;
  cursor: default;
}
.content .title{
  font-size: 20px;
  color: #FFF;
  text-align: center;
  line-height: 2em;
  padding-top: 48px;
  font-weight: normal;
}
.title-english{
  color: #FFF;
  text-align: center;
  font-size: 18px;
}
.content-text{
  text-align: center;
  color: #FFF;
  font-size: 18px;
  line-height: 1.6em;
  padding-top: 48px;
}
.footer{
  padding: 0 28px;
  padding-bottom: 38px;
  padding-top: 48px;
  color: #FFF;
  font-size: 16px;
  line-height: 2em;
}
.footer a{
  color: #FFF;
  font-size: 16px;
  transition: color .3s ease;
}
.footer a:hover{
  color: #999;
  text-decoration: none;
}
.content .hamburger {
  right: 20px;
  cursor: pointer;
  top: 20px;
  position: fixed;
  height: 15px;
  width: 20px;
  margin-top: 1px;
}
.content-scale .hamburger {
  -webkit-transition: transform 2s cubic-bezier(0.72, 0.37, 0.63, 0.29);
  transition: transform 2s cubic-bezier(0.72, 0.37, 0.63, 0.29);
}
.content .hamburger .line {
  width: 20px;
  height: 3px;
  background-color: #000;
  position: absolute;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(1, 0, 0, 1);
  -moz-transition: -moz-transform 0.6s cubic-bezier(1, 0, 0, 1);
  -ms-transition: -ms-transform 0.6s cubic-bezier(1, 0, 0, 1);
  -o-transition: -o-transform 0.6s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.6s cubic-bezier(1, 0, 0, 1);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.content .hamburger .line::before {
  content: '';
  display: block;
  width: 20px;
  height: 3px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #a4a4a4;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -o-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}
.content .hamburger .line:nth-child(1) {
  top: 0;
}
.content .hamburger .line:nth-child(1)::before {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(1, 0, 0, 1);
  -moz-transition: -moz-transform 0.4s cubic-bezier(1, 0, 0, 1);
  -ms-transition: -ms-transform 0.4s cubic-bezier(1, 0, 0, 1);
  -o-transition: -o-transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
}
.content .hamburger .line:nth-child(2) {
  top: 6px;
}
.content .hamburger .line:nth-child(2)::before {
  -webkit-transition: -webkit-transform 0.5s 0.1s cubic-bezier(1, 0, 0, 1);
  -moz-transition: -moz-transform 0.5s 0.1s cubic-bezier(1, 0, 0, 1);
  -ms-transition: -ms-transform 0.5s 0.1s cubic-bezier(1, 0, 0, 1);
  -o-transition: -o-transform 0.5s 0.1s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.5s 0.1s cubic-bezier(1, 0, 0, 1);
}
.content .hamburger .line:nth-child(3) {
  top: 12px;
}
.content .hamburger .line:nth-child(3)::before {
  -webkit-transition: -webkit-transform 0.6s 0.2s cubic-bezier(1, 0, 0, 1);
  -moz-transition: -moz-transform 0.6s 0.2s cubic-bezier(1, 0, 0, 1);
  -ms-transition: -ms-transform 0.6s 0.2s cubic-bezier(1, 0, 0, 1);
  -o-transition: -o-transform 0.6s 0.2s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.6s 0.2s cubic-bezier(1, 0, 0, 1);
}
.content .hamburger:hover .line::before {
  content: '';
  display: block;
  width: 20px;
  height: 3px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #a4a4a4;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
.content .two-hamburger .line {
  background-color: #FFF;
}
.content .two-hamburger .line:nth-child(1) {
  -webkit-transform: translateY(-2px) rotate(45deg);
  -moz-transform: translateY(-2px) rotate(45deg);
  -ms-transform: translateY(-2px) rotate(45deg);
  -o-transform: translateY(-2px) rotate(45deg);
  transform: translateY(-2px) rotate(45deg);
}
.content .two-hamburger .line:nth-child(2) {
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: scaleX .4s ease;
  -moz-transition: scaleX .4s ease;
  -ms-transition: scaleX .4s ease;
  -o-transition: scaleX .4s ease;
  transition: scaleX .4s ease;
}
.content .two-hamburger .line:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.content .two-hamburger .line {
  background-color: #FFF;
}
.content .two-hamburger .line:nth-child(1) {
  -webkit-transform: translateY(-2px) rotate(45deg);
  -moz-transform: translateY(-2px) rotate(45deg);
  -ms-transform: translateY(-2px) rotate(45deg);
  -o-transform: translateY(-2px) rotate(45deg);
  transform: translateY(-2px) rotate(45deg);
}
.content .two-hamburger .line:nth-child(2) {
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: scaleX .4s ease;
  -moz-transition: scaleX .4s ease;
  -ms-transition: scaleX .4s ease;
  -o-transition: scaleX .4s ease;
  transition: scaleX .4s ease;
}
.content .two-hamburger .line:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media (max-width:640px){
  .content{
    width: 300px;
  }
  .content .title{
    font-size: 12px;
    padding-top: 12px;
  }
  .title-english{
    font-size: 10px;
  }
  .content-text{
    padding-top: 18px;
    font-size: 12px;
  }
  .footer{
    font-size: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .footer a{
    font-size: 10px;
  }
  .content .hamburger{
    top: 10px;
    right: 8px;
  }
}